@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.navbar {
    display: block;
    height: 100%;
    width: 80px;
    position: fixed;
    padding: 22% 0% 0% 1%;
    left: 0;
    top: 0;
    background-color: rgb(101, 255, 30);
}

.nav-logo {
    font-size: 10px;
}

.nav-links {
    display: block;
    position: fixed;
}

.nav-links li {
    color: black;
    font-size: 20px;
    cursor: pointer;
    text-transform: capitalize;
    font-weight: bold;
}


.mobile-menu-icon {
    display: none;
}

button {
    border: none;
    text-decoration: none;
    font-size: 20px;
    background: none;
}

@media (max-width: 600px) {
    .navbar {
        width: 100%;
    }

    .nav-logo {
        display: block;
        top: 15px;
        left: 35px;
    }

    .nav-links {
        display: none;
    }

    .nav-links-mobile {
        position: absolute;
        display: block;
        list-style: none;
        box-shadow: rgba(50, 50, 93, 0.23) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        left: 0;
        top: 10%;
        transition: all 0.5s ease-in-out;
        width: 100%;
        background-color: rgb(162, 247, 255);
    }

    ul li {
        padding: 32px;
        width: 100%;
        transition: all 0.5s ease-in-out;
        text-align: center;
    }

    .mobile-menu-icon {
        position: absolute;
        display: flex;
        right: 15px;
        background-color: rgb(0, 0, 0);
        justify-content: space-around;
    }

    .hero h1 {
        font-size: 50px;
    }

    .text {
        padding: 2cm;
        color: white;
        font-size: medium;
        display: flex;
        justify-content: space-between;
    }
}


a {
    text-decoration: none;
  }
  
  li {
    list-style-type: none;
  }
  