@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

body {
    font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1600 - 300)));
    background-color: rgb(0, 0, 0);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.uldata {
    background: white;
}

.session_container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background-color: rgb(255, 255, 255);
    grid-template-rows: min-content;
    margin: 0;
    padding: 0;
}

.session_logo {
    position: relative;
    width: fit-content;
    grid-column: 1/1;
    background-color: rgb(255, 255, 255);
    margin: 0;
    text-align: center;
    padding: 4.5% 2% 4.5% 2%;
}

.img_logo {
    width: 40%;
    grid-column: 1/1;
    margin: 0;
}

.session_form {
    background-color: rgb(101, 255, 30);
    padding: 2% 40% 2% 40%;
    height: fit-content;
    box-shadow: rgb(0, 0, 0) 0px 9px 20px -17px;
}

@media (max-width: 1200px) {
    .session_form {
        background-color: rgb(101, 255, 30);
        padding: 2% 30% 2% 30%;
        height: fit-content;
        box-shadow: rgb(0, 0, 0) 0px 9px 20px -17px;
    }
}

.blogs_container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    background-color: rgb(182, 255, 233);
}

.blog {
    display: block;
    grid-column: 2/8;
    background-color: white;
    padding: 4%;
}

.AdBlog{
    display: flex;
    grid-column: 8/9;
    padding: 4%;
    background-color: bisque;
}

.centering {
    padding-left: 60%;
    position: absolute;
}