body {
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    background-color: rgba(0, 255, 225, 0.147);
    overflow-y: hidden;
}

@media screen and (max-width: 600px) {
    body {
        background-color: rgb(0, 0, 0);
        orientation: vertical;
    }
}

.error-page {
    flex-direction: column;
    text-align: center;
    padding: 250px
    ;
  }

  @media screen and (max-width: 600px) {
    .error-page {
        flex-direction: column;
        text-align: center;
        width: max-content;
        color: azure;
        width: fit-content;
        block-size: fit-content;
    }
}
