@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

.card1 {
  background: #fff;
  width: fit-content;
  border-radius: 7px;
  cursor: pointer;
  transition: 0.2s ease;
}

.card1:hover {
  box-shadow: 0 10px 20px 1px gray;
  transform: scale(1.03);
}

.card1 img {
  width: 200px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.card1 footer {
  display: flex;
  width: 400px;
  align-items: center;
  justify-content: space-between;
  padding: 10px 3px;
}

.card1 footer h2 {
  font-weight: 400;
  margin-left: 10px;
}

.card1 footer p {
  background: #b2ebf2;
  margin-right: 10px;
  padding: 7px;
  border-radius: 5px;
  width: 100px;
  text-align: center;
}

.flex1 {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 80px;
}

@media screen and (min-width: 40em) {
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media screen and (min-width: 60em) {
  .card {
    flex: 0 1 calc(0.1% - 0.1em);
  }
}